*.a
*.o
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in
.cproject
.project
.DS_Store
*.swp
compile
test-driver
iphone/iphoneos-build/
iphone/*.deb
iphone/*.log
src/frontend/mosh

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mosh-*.tar.gz
/stamp-h1
